<div class="container-fluid d-flex flex-row align-items-center justify-content-center" style="height: calc(100vh - 66px)">
  <div id="favorites-list">
    <h2>Mes Favoris</h2>
    <% if @favorites.any? %>
      <% @favorites.each do |favorite| %>
        <h4><%= favorite.name %></h4>
      <% end %>
    <% else %>
      <p id="no-favorites-message">Vous n'avez pas encore de favoris.</p>
    <% end %>
  </div>
  <div id="map" data-controller="map" style="height: 500px; width: 800px;" >
  </div>
</div>
